// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 2px solid $color-secondary-light;
}

::selection {
    background: $color-primary;
    color: $text-color;
}

.underline {
    background-image: linear-gradient(
        to right,
        rgba($color-fourth, 0.8),
        rgba($color-fourth-light, 0.8)
    );
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    cursor: pointer;
}

figure {
    margin: 2em 0;

    img {
        max-width: 100%;
        vertical-align: middle;
    }
}

figcaption {
    margin-top: -2px !important;
    padding: $gutter / 2;
    border: 2px dashed rgba($color-primary, 0.5);
    font-family: $font-secondary;
}

hr {
    border-width: 0.5px;
    border-color: rgba($text-color-light, 0.25);
}
