// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
    clear: both;
    content: '';
    display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
    width: 100%; /* 1 */
    max-width: $max-width; /* 1 */
    margin-left: auto; /* 2 */
    margin-right: auto; /* 2 */
    padding-left: $gutter; /* 3 */
    padding-right: $gutter; /* 3 */
}

/**
 * Hide text while making it readable for screen readers
 */
.hide-text {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/**
 * Visibility classes
 */
@each $key, $val in $breakpoints {
    .hidden-#{$key}-up {
        @include media-min($val) {
            display: none !important;
        }
    }

    .hidden-#{$key}-down {
        @include media-max($val) {
            display: none !important;
        }
    }
}

.hidden {
    display: none !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.pt0 {
    padding-top: 0 !important;
}

.fullWide {
    grid-column: 2 / -2;
}

@include media-max(map-get($breakpoints, lg)) {
    .fullWide {
        grid-column: 1 / -1;
    }
}
